<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Therian Saga Page</title>
    <link rel="icon" type="image/png" href="/app/images/favicon.png"/>
  </head>
  <body style="padding: 0; margin: 0; display: flex; flex-flow: column; height: 100%;">
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
